@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root{

--gold:#fbc531;

--red:#e84118;

--wood:#4b2c20;

--bg:#f7f1e3;

}



body{

margin: 0;

 font-family: 'Segoe UI', sans-serif;

background:var(--bg);

}



/* ===== BARRA SUPERIOR ===== */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--wood);
    padding: 10px 30px;
    color: white;
    border-bottom: 5px solid #2f3542;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
/* ARREGLO PARA STICKY */
    /* position: sticky;
    top: 0;           /* OBLIGATORIO: indica que se pegue al borde superior */
   /* z-index: 1000;  */

}

.logo-wrapper {
    display: flex;
    align-items: center; /* Centra verticalmente logo y texto */
    gap: 15px;           /* Espacio entre el logo y la palabra Mugiwara */
    text-decoration: none;
}

.logo-img {
   height: 60px;        /* Ajusta la altura según te guste */
    width: auto;         /* Mantiene la proporción */
    filter: drop-shadow(2px 2px 0px #000); /* Le da un borde tipo sticker anime */
    transition: transform 0.3s ease;
}

.logo {
    font-family: 'Bangers', cursive;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: var(--gold);
    text-decoration: none;
    text-shadow: 3px 3px 0px #000;
    margin: 0;
}

.logo-img:hover {
    transform: scale(1.1) rotate(-5deg); /* Efecto animado al pasar el mouse */
}

.menu {
    display: flex;
    gap: 15px;
}

.menu div {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    color: white;
    font-size: 0.9rem;
}

.menu div:hover {
    background: var(--blue);
    box-shadow: 0 0 10px var(--gold);
}
 .badge {
            background: var(--red);
            color: white;
            padding: 2px 8px;
            border-radius: 10px;
            font-size: .8rem;
            margin-left: 8px;
            animation: blink 1s infinite;
            font-family: 'Segoe UI', sans-serif;
        }

        @keyframes blink { 50% { opacity: .5; } }


/* ===== CONTENIDO ===== */

.main{

padding:40px;

}



/* tarjeta principal */

.card{

background:#fff;

border-radius:20px;

padding:30px;

box-shadow:0 10px 30px rgba(0,0,0,.2);

max-width:900px;

margin:auto;

text-align:center;

}



/* imagen del negocio */

.imagen-negocio{

width:100%;

height: 550px;;

background:url("/Sistema_mugiwara/public/img/ImagenMugiwara.jpeg") center/cover no-repeat;

margin:20px 0;

border:5px solid var(--wood);

border-radius:15px;

background-color:#f3f3f3;

}