@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root{

--gold:#fbc531;

--red:#e84118;

--wood:#4b2c20;

--bg:#f7f1e3;

}



body{

margin:0;

font-family:'Segoe UI',sans-serif;

background:var(--bg);

}



/* ===== BARRA SUPERIOR ===== */

.topbar{

display:flex;

align-items:center;

justify-content:space-between;

background:var(--wood);

padding:15px 30px;

color:white;

border-bottom:5px solid #2f3542;

box-shadow:0 5px 15px rgba(0,0,0,.5);

}



.logo{

font-family:'Bangers',cursive;

font-size:2.5rem;

letter-spacing:3px;

color:var(--gold);

}



.menu{

display:flex;

gap:25px;

}



.menu div{

cursor:pointer;

font-weight:bold;

padding:10px 20px;

border-radius:10px;

transition:.3s;

}



.menu div:hover{

background:var(--red);

box-shadow:0 0 10px var(--gold);

}



/* ===== CONTENIDO ===== */

.main{

padding:40px;

}



/* tarjeta principal */

.card{

background:#fff;

border-radius:20px;

padding:30px;

box-shadow:0 10px 30px rgba(0,0,0,.2);

max-width:900px;

margin:auto;

text-align:center;

}



/* imagen del negocio */

.imagen-negocio{

width:100%;

height: 550px;;

background:url("/Sistema_mugiwara/public/img/ImagenMugiwara.jpeg") center/cover no-repeat;

margin:20px 0;

border:5px solid var(--wood);

border-radius:15px;

background-color:#f3f3f3;

}